RewriteEngine on

RewriteCond %{HTTP_HOST} ^(lv\.com)(:80)? [NC]
RewriteRule ^(.*) http://www.lv.com/$1 [R=301,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond $1 !^(index\.php|images|robots\.txt)
RewriteRule ^(.*)$ /index.php?/$1 [L]
