#circle-info li h2 i{
	border: 1px solid #9e9e9e;
	padding: 10px;
	color: #9e9e9e;
}
.middle-title{
	vertical-align: middle !important;
	text-align: center;
}
#footer-image{
	background-size:cover;
	background:url(../../image/bg001.jpg) no-repeat;
}
#footer-image h2{
	padding:150px 0;
	text-align: center;
	color: #00f97c;
}