.c_meau{ width:125px; position:fixed;bottom:-380px; display:none;z-index: 10}
.c_meau .fl{ width:125px;}
.c_meau .fl h4{margin-bottom: 0;width:100%; height:40px; background:url(../images/c_meau_4.png) no-repeat; color:#81511c; font-size:16px; line-height:22px; text-align:center; padding:8px 0; font-weight:bold;}
.c_meau .fl_o{ background:#fff; padding:10px 0 0 0;border-right:1px solid rgb(237, 237, 237);border-left:1px solid rgb(232, 232, 232);}
.c_meau .fl_o_o{ color:#7d7d7d; font-size:14px; }
.c_meau .fl_o_o { padding-bottom:10px; border-bottom:1px solid #e5e5e5; width:108px; text-align:center; margin:auto auto 10px auto;}
.c_meau .fl_o_o dd{ line-height:14px;}
.c_meau .fr_o{ margin:90px 0 60px 0;}
.c_meau{ height:auto; display:block;}
.c_meau .fl_o_o dd{ line-height:22px;}