body{
	overflow-x:hidden;
}
#bbs h1, #catalog h1{
	font-size: 16px;
	line-height: 16px;
}
#catalog h1{
	font-weight: 100;
}
img
{
	border: 0;
	/*max-width: 100%;*/
}
.navbar-nav>li>a
{
	line-height: 18px;
}
.badge
{
	font-weight: 100;
	margin-top: -4px;
}
#content
{
	min-height: 400px;
}

.margin-bootom-0
{
	margin-bottom: 0 !important;
}

.well-hidden
{
	height: 157px;
	overflow-y: auto;
}
.lazy
{
	background: url('../image/cover.gif') no-repeat center center;
}
.caption strong
{
	font-family: verdana,arial;
	color: #f40;
}
.caption p
{
	color: #3d3d3d;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 40px;
}
.caption span
{
	color: #a9a9a9;
}
.caption .tooltip
{
	text-align: left !important;
}

.caption p:hover
{
	color: #337ab7;
	text-decoration: underline;
}
#product-options .active
{
	border: 1px dashed rgb(179, 179, 179);
}
#product-options a
{
	display: block;
}
#product-options p
{
	margin-bottom: 0px;
}
#product-price span.aprice, #product-price span.default_price
{
	color: red;
	font-weight: bold;
	font-size: 18px;
}
#product-price span.aprice .ataxprice, #product-price span.default_price .ataxprice
{
	color: #6f6f6f;
	font-weight: 100;
	font-size: 12px;
}
.product-new-list .thumbnail , #category-product-list .thumbnail
{
	border: 1px solid rgba(0, 0, 0, 0);
}
.product-new-list .thumbnail:hover , #category-product-list .thumbnail:hover
{
	border: 1px solid #5bc0de;
}
.product-image-big .thumbnail
{
	margin: 10px 0;
	border: 1px solid rgba(0, 0, 0, 0);
	padding: 0;
}

.show-address .confirm-address
{
	border: 5px solid rgba(0, 0, 0, 0);
	padding: 5px;
	height: 128px;
	cursor: pointer;
}
.show-address .confirm-active
{
	border: 5px solid #FFF;
	border-image: url(../image/border-confirm.png) 5 5 5 5;
}
.show-address .address-edit
{
	display: none;
	position: absolute;
	cursor: pointer;
	padding: 5px 10px;
	border: 1px dashed rgba(112, 112, 112, 0.658824);
	bottom: 27px;
	background-color: rgba(194, 194, 194, 0.7);
}
#product-image-big .thm-list
{
	padding: 0;
}

/*收货地址*/
#address-list-table tbody td
{
	font-size: 14px;
}

#address-list-table tbody td .set-default
{
	display: none;
}
.user-order-list .table
{
	margin-bottom: 0;
}

.user-order-list .table .border-noborder-top-right
{
	border-top: none;
	border-right: 1px solid #ddd;
}
.user-order-list .table .border-right
{
	border-right: 1px solid #ddd;
}
.user-order-list .table .border-noborder-top
{
	border-top: none;
}
.user-order-list td
{
	font: 12px/1.5 tahoma,arial,Hiragino Sans GB,\\5B8B\4F53,sans-serif;
}
.user-order-list td b.red
{
	color: red;
}
.user-order-list td span
{
	display: block;
}
.user-order-list td span.value
{
	color: #9e9e9e;
}
.user-order-list td span:hover
{
	color: #337ab7;
}

.login-title
{
	margin-bottom: 0;
}
.form-captcha
{
	position: relative;
}
.form-captcha img
{
	position: absolute;
	top: 2px;
	right: 2px;
}
.close
{
	font-size: 14px;
}
li.login-close
{
	float: right;
}
.mylogin-footer a
{
	cursor: pointer;
}
.carts-top-info
{
	float: right;
	line-height: 1.42857143;
	padding: 10px 15px;
}
.cart-table-options-p .options-edit
{
	display: none;
	position: absolute;
	top: 2px;
	right: 2px;
	cursor: pointer;
}
.panel-heading h4
{
	margin-bottom: 0;
	line-height: 34px;
	font-size: 14px;
}
ul#language-list, ul#language-description
{
	margin-bottom: 15px;
}
div.addtion-image-delete
{
	position: absolute;
}
#form-select_category .well
{
	min-height: 400px;
	overflow-y: auto;
}
.page-tab .nav-tabs
{
	margin-bottom: 15px;
}
.panel p:first-child
{
	margin-bottom: 0;
	line-height: 33px;
}
#language .input-group
{
	margin-bottom: 10px;
}

#mobile-menu
{
	display: none;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 9999;
	padding: 3px;
	margin-bottom: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
#mobile-menu ul
{
	display: flex;
	margin-bottom: 0;
	padding: 0;
	height: 50px;
}
#mobile-menu ul li
{
	text-align: center;
	padding: 5px;
	list-style: none;
}
#mobile-menu ul li a i
{
	display: block;
	font-size: 20px;
}

.user-notice .well
{
	background-color: #FFF;
	border: none;
}
.user-notice .panel-body div
{
	padding: 15px 10px;
}
.user-wecome tbody tr td, .user-wecome thead tr td
{
	vertical-align: middle;
	overflow: hidden;
}

#sale-product-list table tr td
{
	vertical-align: middle;
}
#faq-content .faq-nav-left
{
	padding-left: 0;
}
#faq-content li
{
	list-style: none;
}
#faq-content li h5
{
	margin-bottom: 0;
}
#faq-content ul.faq-nav-two
{
	padding-left: 15px;
}

.faq-nav-left>li.active>a, .faq-nav-left>li.active>a:focus, .faq-nav-left>li.active>a:hover, .faq-nav-left>li>ul>li.active>a, .faq-nav-left>li>ul>li.active>a:focus, .faq-nav-left>li>ul>li.active>a:hover, .faq-nav-left>li>ul>li>ul>li.active>a, .faq-nav-left>li>ul>li>ul>li.active>a:focus, .faq-nav-left>li>ul>li>ul>li.active>a:hover
{
	color: #4997f7;
	text-decoration: none;
	cursor: pointer;
}
.faq-nav-left>li>a, .faq-nav-left>li>a:focus, .faq-nav-left>li>a:hover, .faq-nav-left>li>ul>li>a, .faq-nav-left>li>ul>li>a:focus, .faq-nav-left>li>ul>li>a:hover, .faq-nav-left>li>ul>li>ul>li>a, .faq-nav-left>li>ul>li>ul>li>a:focus, .faq-nav-left>li>ul>li>ul>li>a:hover
{
	text-decoration: none;
	cursor: pointer;
}
#category_id .active a
{
	color: #5bc0de;
}
#cart-form .cart-table-options-p:hover
{
	border-left: 1px dashed red;
	border-right: 1px dashed red;
}
#setting label
{
	font-weight: 100;
}
#payment_method
{
	float: left;
	width: 100%;
}
#payment_method .payment-list
{
	border: solid 1px #e0e0e0;
	text-align: center;
	cursor: pointer;
}
#payment_method .payment-list:hover
{
	border: solid 1px #5bc0de;
}
#thmb-map img, #addtion-images img, #attribute-images img
{
	max-width: 100px;
}

#header a.navbar-brand-logo{
	padding: 2px 15px !important;
}
#header a.navbar-brand-logo img{
    max-height: 46px !important;
    overflow: hidden !important;
}
#official .git-view{
	margin-bottom: 15px;
}
#posting-list ul{
	padding: 0;
}